#experience{

    width: 700px;
    height: 200px;
    
    padding: 15px;

    border: 1px solid brown;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    gap: 10px;
}

#grid-sectionA{

    display: flex;
    gap: 75px;
}

#grid-sectionB{

    display: flex;
    flex-direction: column;

    gap: 50px;
}

#sideA, #sideB{

    display: flex;
    flex-direction: column;

    gap: 10px;
}

#company-component, #jobTitle-component, #responsibilities-component, #startDate-component, #endDate-component,
#Submit-component, #Edit-component{

    /* border: 1px solid burlywood; */
    
    display: flex;
    flex-direction: column;

    align-items: start;
}

#Submit-component, #Edit-component{
    align-items: end;
}

#company-component label, #jobTitle-component label, #responsibilities-component label,
#startDate-component label, #endDate-component label{
    margin-left: 5px;
}

#company-component input, #jobTitle-component input, #responsibilities-component input,
#startDate-component input, #endDate-component input{

    height: 17.5px;
    width: 250px;

    padding: 2.5px 7.5px;

    border: 1px solid grey;
    border-radius: 5px;
}

#Submit-component button, #Edit-component button{

    width: 70px;
    height: 25px;

    border: 1px solid black;
    border-radius: 5px;

    padding: 3.5px 10px;
}

#company-textComponent{
    font-size: 1.5rem;
}

#jobTitle-textComponent, #responsibilities-textComponent, #startDate-textComponent, #endDate-textComponent{
    
    font-size: 0.8rem;
    margin-left: 4px;
}